h1 {
  /* This is the style sheet for the header */
  text-align: center;
  color: orchid
}
body{
  background-color:#e0cee0
}

div.box{
padding: 20px;
margin: 10px 20px 10px 20px;
border: 3px solid black;

box-sizing: content-box;
max-width: 90%;
height: 90%;}
