body{
  background-color:#e0cee0
}
h1 {
  /* This is the style sheet for the header */
  text-align: center;
  color: orchid
}
h2{
  text-align: right;
}
.link:hover{
  color: aquamarine;
}
.img_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center{
  text-align: center;
}

.right
{
  text-align: right;
}